PORT=3000
WEB_PORT=3000
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=tapthat-db
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=tapthat-db
DB_PUBLISHED_PORT=3308
PHPMYADMIN_PORT=8081
GOOGLE_API_KEY=your_api_key_here
